!!!
%html
  %head
    %title Is it 114&deg; yet?
    :css
      body {
        font-family: "Arial";
        text-align: center;
      }
      h1 {
        font-size: 24px;
      }
      #main {
        margin-top: 40px;
      }
  %body
    #main
      %h1 Is it 114&deg; yet in Oklahoma City?
      - if @is_it_114
        %h2 YES!
        %p
          It hit 114&deg; at #{@time_set.strftime("%I:%M%p")}.
          %br/
          The current temp is #{@temp}&deg;
        %center
          %table
            %tr
              %td
                %img{:src => "http://www.sirlin.net/storage/street_fighter/dhalsim_yoga_flame.gif?__SQUARESPACE_CACHEVERSION=1226558938179"}
              %td
                %img{:src => "http://i531.photobucket.com/albums/dd358/iwanttorentawombat/facemelt.gif", :style => "position:relative; left: -157px; top: -75px;"}
        %p

      - else
        %p Nope. It's only a paltry #{@temp}&deg;
