- adj = %w[petty trifling insignificant shabby trivial measly piddling piddly tepid mild delightful balmy modest spicy lovely]
!!!
%html
  %head
    %title Is it 114&deg; yet?
    :css
      body {
        font-family: "Arial";
        text-align: center;
      }
      h1 {
        font-size: 24px;
      }
      #main {
        margin-top: 40px;
      }
      .hide {
        display: none;
      }
      #updated-at {
        font-size: 10px;
        text-decoration: italic;
      }
    %meta{:content => "width = device-width", :name => "viewport"}/
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    %script{src: "/application.js"}
  %body
    #main
      #loading
        %img{src: "loading.gif"}
      #header.hide
        %h1 Is it 114&deg; yet in Oklahoma City?
      #record-set.hide
        %h2 YES!
        %p
          It hit 114&deg; <span class="record-set-at"></span>.
          %br/
          The current temp is <span class="current-temp"></span>&deg;
        %center
          %table
            %tr
              %td
                %img{:src => "http://www.sirlin.net/storage/street_fighter/dhalsim_yoga_flame.gif?__SQUARESPACE_CACHEVERSION=1226558938179"}
              %td
                %img{:src => "http://i531.photobucket.com/albums/dd358/iwanttorentawombat/facemelt.gif", :style => "position:relative; left: -157px; top: -75px;"}
        %p
      #record-not-set.hide
        %p Nope. It's only a #{adj.sample} <span class="current-temp"></span>&deg;

      #updated-at.hide